.btn-orange {
    color: #fff;
    background-color: #F9C609;
    border-color: #F2821E;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
    color: #fff;
    background-color: #F2821E;
    border-color: #F9C609;
}
.btn-orange:active,
.btn-orange.active,
.open > .dropdown-toggle.btn-orange {
    background-image: none;
}
.btn-orange.disabled,
.btn-orange[disabled],
fieldset[disabled] .btn-orange,
.btn-orange.disabled:hover,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange:hover,
.btn-orange.disabled:focus,
.btn-orange[disabled]:focus,
fieldset[disabled] .btn-orange:focus,
.btn-orange.disabled.focus,
.btn-orange[disabled].focus,
fieldset[disabled] .btn-orange.focus,
.btn-orange.disabled:active,
.btn-orange[disabled]:active,
fieldset[disabled] .btn-orange:active,
.btn-orange.disabled.active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange.active {
    background-color: #F9C609;
    border-color: #F2821E;
}
.btn-orange .badge {
    color: #F9C609;
    background-color: #fff;
}